<div class="row">
  <div class="col-md-6">
    <mat-card class="cardWithShadow bg-light-primary">
      <mat-card-content>
        <div class="hstack align-items-center">
          <div
            class="rounded icon-40  d-flex align-items-center flex-shrink-0 justify-content-center"
          >
            <i class="iconify f-s-40 text-success" data-icon="solar:box-line-duotone"></i>
          </div>
          <mat-card-title class="f-s-16 f-w-500 m-b-0">Total Sold</mat-card-title>
        </div>

        <div class="row ">
          <div class="col-12 f-a-e">
            <h5 class=" f-s-22 f-w-500 m-b-4 m-t-10">{{grandTotalSale}}TK</h5>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="cardWithShadow bg-light-accent">
      <mat-card-content>
        <div class="hstack align-items-center">
          <div
            class="rounded icon-40  d-flex align-items-center flex-shrink-0 justify-content-center"
          >
            <i class="iconify f-s-40 text-success" data-icon="solar:box-line-duotone"></i>
          </div>
          <mat-card-title class="f-s-16 f-w-500 m-b-0">Total Profit</mat-card-title>
        </div>

        <div class="row ">
          <div class="col-12 f-a-e">
            <h5 class=" f-s-22 f-w-500 m-b-4 m-t-10">{{profit}}TK</h5>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card class="cardWithShadow">
  <mat-card-content>

    <div class="row justify-content-end mb-5">
      <div class="col-md-6">
        <mat-card-title>Product Sale List</mat-card-title>
      </div>
    </div>

    <div class="table-responsive">

      <p-table [value]="onlineSale" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:10px">Invoice No.</th>
            <th>Items</th>
            <th pSortableColumn="saleDate">Date
              <p-sortIcon field="saleDate"/>
            </th>
            <th>Time</th>
            <th>Paid Amount</th>
            <th>Purchase Cost</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataSource>
          <tr>
            <td>{{ dataSource.id }}</td>
            <td> <ul>
              @for (item of dataSource.orderItems; track $index) {
                <li>{{ item.name }}: {{ item.quantity }}pc</li>
              }
            </ul>
            </td>
            <td>{{ dataSource.saleDate | date:'d-M-yy'}}</td>
            <td>{{ dataSource.saleDate | date:'h:mm a'}}</td>
            <td>{{ dataSource.totalAmount | number:'1.2-2'  }} TK</td>
            <td>{{ dataSource.totalPurchasePrice }}</td>


            <td><span
            ><span class="f-w-600 f-s-14">
                      <button mat-icon-button color="warn" (click)="deleteInvoice(dataSource.id)">
                        <i class="bi bi-trash"></i>
                      </button></span
            ></span
            ></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>





