    <mat-card class="cardWithShadow theme-card">



      <mat-card-content >
        <div class="row">
          <div class="col-md-6">
            <mat-card-title class="f-s-16 f-w-500 m-b-0">Brands </mat-card-title>
          </div>
          <div class="col-md-6 text-end">
            <button
              mat-raised-button
              class="bg-primary text-white"
              (click)="productDialogOpen()"
            >
              Add Products
            </button>
          </div>
        </div>

        <div class="table-responsive mt-4">
          <p-table [value]="showingProduct" sortField="price" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
                <tr>
                  <th>Product Image</th>
                  <th>id</th>
                  <th pSortableColumn="name">Name<p-sortIcon field="name"/></th>
                  <th pSortableColumn="stock">Stock<p-sortIcon field="stock"/></th>
                  <th pSortableColumn="purchasePrice">Purchase<p-sortIcon field="purchasePrice"/></th>
                  <th pSortableColumn="price">Sale<p-sortIcon field="name"/></th>
                  <th pSortableColumn="category">Category</th>
                  <th pSortableColumn="brand">Brand</th>
                  <th >Action</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataSource>
                <tr>
                    <td>
                      <img
                  [src]= "'data:image/png;base64,' + dataSource.image"
                  alt="Product image"
                  width="48"
                  class="rounded"
                /></td>
                    <td>{{ dataSource.id }}</td>
                    <td>{{ dataSource.name }}</td>
                    <td>{{ dataSource.stock }}</td>
                    <td>{{ dataSource.purchasePrice}}</td>
                    <td>{{ dataSource.price }}</td>
                    <td>{{ dataSource.category }}</td>
                    <td>{{ dataSource.brand }}</td>
                  
                    <td><span
                      ><span class="f-w-600 f-s-14"><button mat-icon-button color="primary" (click)="showEditDialogue(dataSource)">
                          <i class="bi bi-pencil-square"></i>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(dataSource.id)">
                          <i class="bi bi-trash"></i>
                        </button></span
                      ></span
                    ></td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- product Add Form -->
    <p-dialog
    header="Product Form"
    [modal]="true"
    [(visible)]="productDialog"
    [style]="{ width: '50vw' }"
    >
    <form>
      <div class="row py-5">
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" >
            <label for="name">Product name</label>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="stock" name="stock" [(ngModel)]="product.stock" >
            <label for="stock">Product stock</label>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="purchase" name="purchasePrice" [(ngModel)]="product.purchasePrice" >
            <label for="purchase">Product purchasePrice</label>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price" name="price" [(ngModel)]="product.price" >
            <label for="price">Product price</label>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <input type="file" class="form-control" id="imageFile" (change)="onFileSelected($event)" >
            <label for="imageFile">Product image</label>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <label for="category">Select Category</label>
           <select class="form-control" id="category" name="category" [(ngModel)]="product.category">
            @for (item of categories; track $index) {
              <option value="{{item.id}}">{{item.name}}</option>
            }
           </select>
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-floating mb-3">
            <label for="brand">Select Brand</label>
            <select id="brand" name="brand" class="form-control" [(ngModel)]="product.brand">

              @for (item of brands; track $index) {
                <option value="{{item.id}}">{{item.name}}</option>
              }
             </select>
          </div>
        </div>

      <div class="text-center mt-1 ">
        @if(editButtonShow){
          <button type="submit" mat-raised-button color="primary" (click)="updateProduct()">Update</button>
        }@else {
        <button type="submit" mat-raised-button color="primary" (click)="saveProduct()">Add</button>
        }
      </div>
      </div>
    </form>
    @if (addSuccess) {
      <mat-card-title class="text-success text-center"> Product Added Successful</mat-card-title>
    } @else if (addError){
      <mat-card-title class="text-error text-center"> Something wrong</mat-card-title>

    }
    </p-dialog>
