
<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title class="text-center">Order Details</mat-card-title>
     <div class="row justify-content-center">
     <div class="text-center">
      <img
      src="../../../../assets/images/profile/user-1.jpg"
      alt="users"
      style="width: 40px;"
    /> 
     </div>
      <table class="table table-borderless w-25">
        <tr>
            <td>Address:</td>
            <td>12/5/2 Wari</td>
        </tr>
        <tr>
            <td >Phone:</td>
            <td>12/5/2 Wari</td>
        </tr>
        <tr>
            <td >Details:</td>
            <td>12/5/2 Wari</td>
        </tr>
      </table>
     </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="cardWithShadow">
    <mat-card-content>
   
     <div class="row justify-content-center">
       
      <table class="table table-borderless w-75">
       <thead>
        <th>#</th>
        <th class="w-50">Product</th>
        <th >Quantity</th>
        <th >Price</th>
        <th >Net Amount</th>
       </thead>
       <tbody>
        <tr>
            
        </tr>
       </tbody>
      </table>
     </div>
    </mat-card-content>
  </mat-card>