<mat-card class="cardWithShadow">
    <mat-card-content>
      
      <div class="row justify-content-end mb-5">
        <div class="col-md-6">
            <mat-card-title>Product Sale List </mat-card-title>
        </div>
        <div class="col-md-6 text-end">
            <button mat-flat-button color="primary" (click)="printpdf()"> Export CSV </button>
        </div>
        
      </div>
  
      <div class="table-responsive">
        <p-table [value]="dataSource" sortField="price" [sortOrder]="-1" [tableStyle]="{ 'min-width': '70rem' }">
          <ng-template pTemplate="header">
              <tr>
                @for (item of displayedColumns; track $index) {
                  <th pSortableColumn="{{item}}" >
                      {{item}} <p-sortIcon field="{{item}}"/>
                  </th>
                }
                  
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dataSource>
              <tr>
                  <td>
                    <img
                [src]= dataSource.imagePath 
                alt="users"
                width="48"
                class="rounded"
              /></td>
                  <td>{{ dataSource.productId }}</td>
                  <td>{{ dataSource.pName }}</td>
                  <td>{{ dataSource.sQuantity }}</td>
                  <td>{{ dataSource.productPrice | currency : 'EUR'  }}</td>
                  <td>{{ dataSource.paidPrice }}</td>
                  <td>{{ dataSource.duePrice }}</td>
                  <td>{{ dataSource.customerName }}</td>
                  <td>{{ dataSource.saleDate }}</td>
                  <td>{{ dataSource.saleTime }}</td>
                  <td>{{ dataSource.shopeReferance }}</td>
                  <td><span
                    ><span class="f-w-600 f-s-14"><button mat-icon-button color="primary">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button mat-icon-button color="warn">
                        <i class="bi bi-trash"></i>
                      </button></span
                    ></span
                  ></td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card-content>
  </mat-card>
  
  



  