<div class="row">
  <div class="col-md-6">
    <mat-card class="cardWithShadow bg-light-primary">
      <mat-card-content>
        <div class="hstack align-items-center">
          <div
            class="rounded icon-40 d-flex align-items-center flex-shrink-0 justify-content-center"
          >
            <i
              class="iconify f-s-40 text-success"
              data-icon="solar:shop-bold"
            ></i>
          </div>
          <mat-card-title class="f-s-16 f-w-500 m-b-0"
          >Total Shop
          </mat-card-title
          >
        </div>

        <div class="row">
          <div class="col-12 f-a-e">
            <h5 class="f-s-22 f-w-500 m-b-4 m-t-10">5</h5>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="cardWithShadow bg-light-accent">
      <mat-card-content>
        <div class="hstack align-items-center">
          <div
            class="rounded icon-40 d-flex align-items-center flex-shrink-0 justify-content-center"
          >
            <i
              class="iconify f-s-40 text-success"
              data-icon="solar:user-linear"
            ></i>
          </div>
          <mat-card-title class="f-s-16 f-w-500 m-b-0"
          >Total Users
          </mat-card-title
          >
        </div>

        <div class="row">
          <div class="col-12 f-a-e">
            <h5 class="f-s-22 f-w-500 m-b-4 m-t-10">10</h5>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">

          <mat-card-title class="f-s-16 f-w-500 m-b-0"
          >User Information
          </mat-card-title
          >
        </div>
        <div class="col-md-6 text-end">
          <button mat-raised-button class="bg-primary text-white" (click)="showDialog()">
            Add User
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table mat-table [dataSource]="userData" class="mat-elevation-z8">
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let user">{{ user.name }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let user">{{ user.username }}</td>
              </ng-container>

              <!-- Role Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>User Role</th>
                <td mat-cell *matCellDef="let user">{{ user.role }}</td>
              </ng-container>

              <!-- Shop Referance Column -->
              <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef>Shop Referance</th>
                <td mat-cell *matCellDef="let user">
                  {{ user.shopName }}
                </td>
              </ng-container>

              <!-- Shop Referance Column -->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>View Details</th>
                <td mat-cell *matCellDef="let user">
                  <div class="row">
                    <div class="col-md-3">
                      <button mat-flat-button class="bg-light-primary">
                        Details
                      </button>
                    </div>
                    <div class="col-9 justify-content-end text-end">
                      <button mat-icon-button color="primary">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button mat-icon-button color="warn">
                        <i class="bi bi-trash"></i>
                      </button>

                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <p-dialog header="AddUser" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem' }">

    <form>
      <div class="row">
        <div class="col-6 my-3">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col-6 my-3">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col-6 my-3">
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="col-6 my-3">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="col-6 my-3">
          <input type="text" class="form-control" placeholder="ShopReferance">
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </p-dialog>
</div>
